[Unit]
Description=Button Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/alarm/buttononoff
StandardOutput=null

[Install]
WantedBy=multi-user.target
Alias=button.service
